body {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  min-width: 800px;
}

/* Navigation Bar */
.shadow {
  box-shadow: 0px 5px 10px -5px black;
}

.text-shadow {
  text-shadow: 3px -3px 10px #363636;
}

header {
  display: flex;
  flex-direction: row;

  align-items: stretch;
  align-content: space-around;

  background-color: #8f1925;
  background-size: 200px;

  font-weight: normal;
  color: white;

  padding-left:  10px;
  padding-right: 10px;

  margin-top: -8px;

  height: 50px;

  min-width: 600px;
  width: 100%;

  position: sticky;
  top:0;
  z-index: 1;
}

div.title {
  width: 250px;
  text-align: left;

  margin-left: 50px;

  padding-top: 15px;
  padding-bottom: 0;


}

nav {
  display: flex;
  justify-content: flex-end;

  width: 100%;

  align-items: stretch;
  align-content: space-around;

  margin-right: 50px;
}

span {
  margin-left: 10px;

  padding-top:15px;
  padding-left: 10px;
  padding-right: 10px;

  color: white;
}

span:hover {
  color: #8f1925;
  background-color: white;
}

/* Cards */
div.card {

  display: flex;
  flex-direction: row;
  align-items: stretch;

  background-image: url("outside.jpg");
  background-size: 650px 100%;
  background-position: left;
  background-attachment: scroll;


  height: 400px;
  width: 65%;
  min-width: 800px;
  max-width: 1000px;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 0;

}

.card-rightpanel {
  opacity: 0.8;
  width: 300px;
  background-color: #321914;
  color: white;
  padding: 50px;

  text-align: justify;
  text-justify: inter-word;
}

.card-leftpanel {
  color: white;
  width: 65% ;
}

.card-caption {
  color: white;
  background-color:#321914;
  opacity: 0.7;
  text-align: center;
  padding: 5px;
}

#card1-title{
  margin-top: 50px;
  margin-left: 50px;
  font-size: 60px;
}

#card2 {
  background-image: url("overlook.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#card2-title{
  font-size: 50px;
}

#card2-leftpanel {
  width:300px;
  padding: 50px;
  background-color: #321914;
  opacity: .9;
  align-content: center;
}

#card2-rightpanel {
  background-color: #321914;
  opacity: 1;

}

#card3 {
  background-image: url("lake.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}

/* orange: #eb6422
red: #8f1925*/
